#login-form {
    --size: 300px;
  
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 5%;
    width: var(--size);
    min-height: var(--size);
    background-color: (39, 39, 39);
    margin: 0 auto;
    box-shadow: 5px 5px 15px rgb(132, 14, 201);
    display: flex;
    align-items: center;
    justify-content: center; 
    border-radius: 30px;  

    
  }
  
  #login-form input {
    padding: 1em;
    border-radius: 0.5em;
    width: 300px;
    
  }
  
  .character {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: calc(var(--size) / 3);
    height: calc(var(--size) / 3);
    border-radius: 40% 40% 0 0;
    background-color: rgb(132, 14, 201);
    
  }
  
  .character .eyes {
    --eye-ball-offset: 50%;
    --eye-ball-size: 35%;
  
    display: flex;
    justify-content: space-evenly;
    width: 80%;
  }
  
  .character .eyes .eye {
    position: relative;
    transition: height 0.2s ease-in;
    overflow: hidden;
    width: 35%;
    border-radius: 50%;
    background-color: #190000;
  }
  
  .character .eyes .eye::before {
    content: '';
    display: block;
    transition: padding-top 0.2s ease-in;
    padding-top: 100%;
  }
  
  .character .eyes.closed .eye::before {
    padding-top: 2px;
  }
  
  .character .eyes .eye::after {
    content: '';
    position: absolute;
    bottom: 5%;
    left: var(--eye-ball-offset);
    transform: translateX(-50%);
    transition: all 0.2s ease-in;
    width: var(--eye-ball-size);
    height: var(--eye-ball-size);
    border-radius: 50%;
    background-color: #faffff;
  }
  
  .character .eyes.closed .eye::after {
    height: 0;
  }
